In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
%cd /content/drive/My\ Drive/COMP4641\ Project/data

/content/drive/My Drive/COMP4641 Project/data

In [0]:
import numpy as np
import pandas as pd

In [0]:
df = pd.read_csv('all_cities_with_review_and_users.csv')

KeyboardInterrupt: ignored

In [0]:
df = df.drop(['hours', 'date'], axis = 1)

In [0]:
df = df.drop(['Unnamed: 0'], axis = 1)

In [0]:
df = df.drop(['attributes', 'reviews'], axis = 1)

KeyError: ignored

In [0]:
df_checkin = pd.read_csv('arizona_restaurant_withcheckin.csv')

In [0]:
df1 = df.copy()

In [0]:
df1['checkin_dates'] = 0

In [0]:
df1

                 business_id  ... checkin_dates
0     1Dfx3zM-rW4n-31KeC8sJg  ...             0
1     q2KtxnPa6rPSpAlMbg9l8g  ...             0
2     44YFU284Z3KDEy25QyVoUw  ...             0
3     ysfeDcLAYk_MVzfBmyiSTg  ...             0
4     nsNONDHbV7Vudqh21uicqw  ...             0
...                      ...  ...           ...
7977  3xI0ToitrAJkrUSH4gbmCA  ...             0
7978  cILk7PnJBxNsMmGhQU2cyA  ...             0
7979  mk_OXeS7_zcfYlaEEFYWvA  ...             0
7980  I3dQmMkfqMsThMAuqIkooA  ...             0
7981  7KlpgRjjAmVabPzxcExs0g  ...             0

[7982 rows x 10 columns]

In [0]:
checkin_dict = {}
for i in range(len(df_checkin)):
  business_split = str(df_checkin['date'][i]).split(', ')
  dates = []
  for split in business_split:
    if(split=='nan'):
      break
    start_year = int(split[0:4])
    if(start_year>2012 and start_year<=2015):
      dates.append(split)
  checkin_dict[df_checkin['business_id'][i]] = str(dates)

In [0]:
for i in range(len(df1)):
  df1['checkin_dates'][i] = checkin_dict[df1['business_id'][i]]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [0]:
df1

In [0]:
df1.to_csv('top5_final_checkin.csv',index=True,header=True)

## ======= Do NOT Run the following Code =======##

In [0]:
!pip install simplejson

Collecting simplejson
  Downloading https://files.pythonhosted.org/packages/98/87/a7b98aa9256c8843f92878966dc3d8d914c14aad97e2c5ce4798d5743e07/simplejson-3.17.0.tar.gz (83kB)
     |████████████████████████████████| 92kB 3.0MB/s
Building wheels for collected packages: simplejson
  Building wheel for simplejson (setup.py) ... done
  Created wheel for simplejson: filename=simplejson-3.17.0-cp36-cp36m-linux_x86_64.whl size=114208 sha256=33ee58dc0aed87570b051c436014ff8397e2ead0273f18b9fb0ee5ac671ae83d
  Stored in directory: /root/.cache/pip/wheels/86/c0/83/dcd0339abb2640544bb8e0938aab2d069cef55e5647ce6e097
Successfully built simplejson
Installing collected packages: simplejson
Successfully installed simplejson-3.17.0

In [0]:
import simplejson as json

In [0]:
with open('../review.json') as json_file:      
    data = json_file.readlines()
    data = list(map(json.loads, data)) 

reviewdf = pd.DataFrame(data)

## ======= Do NOT Run the following Code =======

In [0]:
reviewdf1 = reviewdf.copy()

In [0]:
finaldf = pd.read_csv('top5_final_checkin.csv')

In [0]:
# finaldf['reviews2013'] = 0 
# finaldf['reviews2014'] = 0
# finaldf['reviews2015'] = 0 
type(reviewdf1['text'][0])

str

In [0]:
Dict2013 = {}
Dict2014 = {}
Dict2015 = {}
for i in range(len(finaldf)):
  Dict2013[finaldf['business_id'][i]] = []
  Dict2014[finaldf['business_id'][i]] = []
  Dict2015[finaldf['business_id'][i]] = []

In [0]:
for i in range(len(reviewdf1)):
  if(reviewdf1['business_id'][i] in Dict2013):
    if reviewdf1['date'][i][0:4] == "2013":
      Dict2013[reviewdf1['business_id'][i]].append(reviewdf1['text'][i])
    if reviewdf1['date'][i][0:4] == "2014":
      Dict2014[reviewdf1['business_id'][i]].append(reviewdf1['text'][i])
    if reviewdf1['date'][i][0:4] == "2015":
      Dict2015[reviewdf1['business_id'][i]].append(reviewdf1['text'][i])

In [0]:
review2013 = []
review2014 = []
review2015 = []
for i in range(len(finaldf)):
  review2013.append(Dict2013[finaldf['business_id'][i]]) 
  review2014.append(Dict2014[finaldf['business_id'][i]]) 
  review2015.append(Dict2015[finaldf['business_id'][i]])

In [0]:
finaldf['reviews2013'] = review2013
finaldf['reviews2014'] = review2014
finaldf['reviews2015'] = review2015
type(finaldf['reviews2013'][0])

list

In [0]:
len(finaldf['reviews2013'][12])

46

In [0]:
finaldf.to_csv('top5_final_checkin_review_updated_new.csv',index=True,header=True)