In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
#%cd /content/drive/My\ Drive/COMP4641\ Project/data
%cd /content/drive/My\ Drive/data-2
#%cd /content/drive/My\ Drive/COMP4641\ Project/data

/content/drive/My Drive/data-2

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('arizona_restaurant_withcheckin.csv')

In [0]:
df

       Unnamed: 0  ...                                               date
0               3  ...  2010-07-20 22:03:12, 2010-07-26 19:51:14, 2011...
1              10  ...  2017-02-04 00:38:57, 2017-02-08 02:06:49, 2017...
2              13  ...  2010-03-05 22:57:35, 2010-07-05 22:31:41, 2010...
3              14  ...  2011-01-26 21:37:09, 2012-05-24 02:50:43, 2013...
4              21  ...  2010-04-06 03:28:25, 2010-05-01 03:26:38, 2010...
...           ...  ...                                                ...
14796       56479  ...  2010-11-24 01:55:59, 2010-11-25 17:05:57, 2011...
14797       56481  ...  2015-07-01 21:24:18, 2015-07-01 23:45:10, 2015...
14798       56483  ...  2010-07-17 18:17:19, 2010-07-18 22:08:23, 2010...
14799       56491  ...  2012-09-03 19:02:32, 2012-09-06 02:51:43, 2012...
14800       56498  ...  2010-12-16 02:57:51, 2011-11-22 02:17:24, 2012...

[14801 rows x 16 columns]

In [0]:
date_col = df['date']

In [0]:
date_col

0        2010-07-20 22:03:12, 2010-07-26 19:51:14, 2011...
1        2017-02-04 00:38:57, 2017-02-08 02:06:49, 2017...
2        2010-03-05 22:57:35, 2010-07-05 22:31:41, 2010...
3        2011-01-26 21:37:09, 2012-05-24 02:50:43, 2013...
4        2010-04-06 03:28:25, 2010-05-01 03:26:38, 2010...
                               ...
14796    2010-11-24 01:55:59, 2010-11-25 17:05:57, 2011...
14797    2015-07-01 21:24:18, 2015-07-01 23:45:10, 2015...
14798    2010-07-17 18:17:19, 2010-07-18 22:08:23, 2010...
14799    2012-09-03 19:02:32, 2012-09-06 02:51:43, 2012...
14800    2010-12-16 02:57:51, 2011-11-22 02:17:24, 2012...
Name: date, Length: 14801, dtype: object

In [0]:
print(type(date_col[0]))

<class 'str'>

In [0]:
business_dates=[]
for i in range(len(date_col)):
  business_split = str(date_col[i]).split(', ')
  dates = []
  for split in business_split:
    if(split=='nan'):
      break
    start_year = int(split[0:4])
    if(start_year>2013 and start_year<=2015):
      dates.append(split)
  business_dates.append(str(dates)) 

df['date'] = business_dates

In [0]:
df2 = df.copy()

In [0]:
df2 = df2[df2['date'].notna()]
df2

       Unnamed: 0  ...                                               date
0               3  ...  ['2014-02-15 04:00:43', '2014-02-15 05:10:03',...
1              10  ...                                                 []
2              13  ...  ['2014-01-10 23:56:06', '2014-01-22 16:00:52',...
3              14  ...                                                 []
4              21  ...  ['2014-01-05 02:57:53', '2014-01-19 00:26:30',...
...           ...  ...                                                ...
14796       56479  ...                                                 []
14797       56481  ...  ['2015-07-01 21:24:18', '2015-07-01 23:45:10',...
14798       56483  ...  ['2014-01-06 01:59:11', '2014-01-18 20:22:40',...
14799       56491  ...  ['2014-01-09 01:04:39', '2014-01-09 01:04:59',...
14800       56498  ...  ['2014-01-18 22:42:15', '2014-01-22 01:53:03',...

[14801 rows x 16 columns]

In [0]:
df2 = df2[df2['date'].str.len()>2]
df2

# for i in range(len(df['date'])):
#   count = 0
#   if (len(df['date'][i]) == 0):
#     df.drop()

       Unnamed: 0  ...                                               date
0               3  ...  ['2014-02-15 04:00:43', '2014-02-15 05:10:03',...
2              13  ...  ['2014-01-10 23:56:06', '2014-01-22 16:00:52',...
4              21  ...  ['2014-01-05 02:57:53', '2014-01-19 00:26:30',...
5              33  ...  ['2014-03-12 22:42:46', '2014-06-18 20:29:32',...
7              37  ...  ['2014-01-01 01:23:45', '2014-01-01 04:39:00',...
...           ...  ...                                                ...
14795       56478  ...  ['2014-01-01 16:36:11', '2014-01-03 17:52:17',...
14797       56481  ...  ['2015-07-01 21:24:18', '2015-07-01 23:45:10',...
14798       56483  ...  ['2014-01-06 01:59:11', '2014-01-18 20:22:40',...
14799       56491  ...  ['2014-01-09 01:04:39', '2014-01-09 01:04:59',...
14800       56498  ...  ['2014-01-18 22:42:15', '2014-01-22 01:53:03',...

[10003 rows x 16 columns]

In [0]:
# newlist = []
# print(len(str(newlist)))

In [0]:
df2 = df2.reset_index()
df2 = df2.drop(['index'],axis='columns')
df2

       Unnamed: 0  ...                                               date
0               3  ...  ['2014-02-15 04:00:43', '2014-02-15 05:10:03',...
1              13  ...  ['2014-01-10 23:56:06', '2014-01-22 16:00:52',...
2              21  ...  ['2014-01-05 02:57:53', '2014-01-19 00:26:30',...
3              33  ...  ['2014-03-12 22:42:46', '2014-06-18 20:29:32',...
4              37  ...  ['2014-01-01 01:23:45', '2014-01-01 04:39:00',...
...           ...  ...                                                ...
9998        56478  ...  ['2014-01-01 16:36:11', '2014-01-03 17:52:17',...
9999        56481  ...  ['2015-07-01 21:24:18', '2015-07-01 23:45:10',...
10000       56483  ...  ['2014-01-06 01:59:11', '2014-01-18 20:22:40',...
10001       56491  ...  ['2014-01-09 01:04:39', '2014-01-09 01:04:59',...
10002       56498  ...  ['2014-01-18 22:42:15', '2014-01-22 01:53:03',...

[10003 rows x 16 columns]

In [0]:
# df2.to_csv('./arizona_restaurant_corTime.csv',index=True,header=True)

In [0]:
print(len(df2.city.unique()))
df2.city.unique()

51

array(['Phoenix', 'Scottsdale', 'Chandler', 'Mesa', 'Tempe', 'Glendale',
       'Cave Creek', 'Surprise', 'Goodyear', 'Gilbert', 'Sun City',
       'Peoria', 'Avondale', 'Paradise Valley', 'Fountain Hills',
       'Tolleson', 'Sun Lakes', 'Fort Mcdowell', 'Laveen',
       'Litchfield Park', 'Sun City West', 'Fort McDowell', 'Carefree',
       'Queen Creek', 'El Mirage', 'Ahwatukee', 'Youngtown', 'PHOENIX',
       'Anthem', 'Glendale Az', 'Buckeye', 'Apache Junction',
       'SCOTTSDALE', 'Gelndale', 'Guadalupe', 'Waddell', 'Sedona',
       'Mesa AZ', 'cave creek', 'MESA', 'Scottdale', 'Higley',
       'Queen creek', 'Laveen Village', 'Central City',
       'Central City Village', 'Pheonix AZ', 'GOODYEAR',
       'Surprise Crossing', 'Central', 'Pheonix'], dtype=object)

In [0]:
arizona_cities = list(df2.city.unique())

In [0]:
df3 = df2.copy()

In [0]:
# city = ['Phoenix', 'Scottsdale', 'Chandler', 'Mesa', 'Tempe', 'Glendale',
#        'Cave Creek', 'Surprise', 'Goodyear', 'Gilbert', 'Sun City',
#        'Peoria', 'Avondale', 'Paradise Valley', 'Fountain Hills',
#        'Tolleson', 'Sun Lakes', 'Fort Mcdowell', 'Laveen',
#        'Litchfield Park', 'Sun City West', 'Fort McDowell', 'Carefree',
#        'Queen Creek', 'El Mirage', 'Ahwatukee', 'Youngtown', 'PHOENIX',
#        'Anthem', 'Glendale Az', 'Buckeye', 'Apache Junction',
#        'SCOTTSDALE', 'Gelndale', 'Guadalupe', 'Waddell', 'Sedona',
#        'Mesa AZ', 'cave creek', 'MESA', 'Scottdale', 'Higley',
#        'Queen creek', 'Laveen Village', 'Central City',
#        'Central City Village', 'Pheonix AZ', 'GOODYEAR',
#        'Surprise Crossing', 'Central', 'Pheonix']
# actual_cities = ['pheonix', 'scottsdale', 'chandler', 'mesa', 'tempe', 'glendale',
#        'cave creek', 'surprise', 'goodyear', 'gilbert', 'sun city',
#        'peoria', 'avondale', 'paradise valley', 'fountain hills',
#        'tolleson', 'sun lakes', 'maricopa', 'laveen',
#        'litchfield park', 'sun city west', 'fort fcDowell', 'carefree',
#        'queen creek', 'el mirage', 'ahwatukee', 'youngtown', 'pheonix',
#        'pheonix', 'glendale', 'buckeye', 'apache junction',
#        'scottsdale', 'glendale', 'guadalupe', 'waddell', 'sedona',
#        'mesa', 'cave creek', 'mesa', 'scottdale', 'gilbert',
#        'queen creek', 'pheonix', 'pheonix',
#        'pheonix', 'pheonix', 'goodyear',
#        'surprise crossing', 'central', 'pheonix']

# for i in range(len(city)):
#   df3['city'] = df3['city'].str.replace(city[i], actual_cities[i])

# df3['city'].str.replace('Phoenix', 'phoenix')
# df3['city'].str.replace('Phoenix', 'phoenix')

In [0]:
df3

       Unnamed: 0  ...                                               date
0               3  ...  ['2014-02-15 04:00:43', '2014-02-15 05:10:03',...
1              13  ...  ['2014-01-10 23:56:06', '2014-01-22 16:00:52',...
2              21  ...  ['2014-01-05 02:57:53', '2014-01-19 00:26:30',...
3              33  ...  ['2014-03-12 22:42:46', '2014-06-18 20:29:32',...
4              37  ...  ['2014-01-01 01:23:45', '2014-01-01 04:39:00',...
...           ...  ...                                                ...
9998        56478  ...  ['2014-01-01 16:36:11', '2014-01-03 17:52:17',...
9999        56481  ...  ['2015-07-01 21:24:18', '2015-07-01 23:45:10',...
10000       56483  ...  ['2014-01-06 01:59:11', '2014-01-18 20:22:40',...
10001       56491  ...  ['2014-01-09 01:04:39', '2014-01-09 01:04:59',...
10002       56498  ...  ['2014-01-18 22:42:15', '2014-01-22 01:53:03',...

[10003 rows x 16 columns]

In [0]:
# latitudes

In [0]:
# !pip install googlemaps

Collecting googlemaps
  Downloading https://files.pythonhosted.org/packages/07/b8/bd7ab78014a4290853250ac8a1744c5a200e569811b7e0cc9222d38fc296/googlemaps-4.2.0-py3-none-any.whl
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from googlemaps) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.3)
Installing collected packages: googlemaps
Successfully installed googlemaps-4.2.0

In [0]:
# import googlemaps

In [0]:
# gmaps_key = googlemaps.Client(key="AIzaSyAIhvTnxIKwN1K18myaq7emTDuwqPQgdnQ")

In [0]:
# Create long,lat object
# longtitudes = df3['longitude'].copy()
# latitudes = df3['latitude'].copy()
# address = []
# county = []

In [0]:
# county

['Maricopa County', 'Maricopa County', 'Arizona', 'Northsight']

In [0]:
# latitudes.iloc[-1]

33.538175

In [0]:
# address[5][2]['address_components'][2]['long_name']

'Superstition Springs'

In [0]:
# geocode_result = gmaps_key.reverse_geocode((latitudes.iloc[800], longtitudes.iloc[800]))
# address.append(geocode_result)
# county.append(geocode_result[2]['address_components'][2]['long_name'])

In [0]:
# def getneighbourhood(addr):
#   for i in range(len(addr[2]['address_components'])):
#     if('neighborhood' in addr[2]['address_components'][i]['types']):
#       print(addr[2]['formatted_address'])
#       return addr[2]['address_components'][i]['long_name']

In [0]:
# for addr in address:
#   #print(addr)
#   print(getneighbourhood(addr),end='\n\n')

2440 E Indian School Rd, Phoenix, AZ 85016, USA
Camelback East Village

3525 W Glendale Ave, Phoenix, AZ 85051, USA
Alhambra

16th St & Bethany Home Rd, Phoenix, AZ, USA
Camelback East Village

14291-14299 N 87th St, Scottsdale, AZ 85260, USA
Northsight

None

6638 E Superstition Springs Blvd, Mesa, AZ 85206, USA
Superstition Springs

None

None

In [0]:
# address[4][2]['address_components']

[{'long_name': '2500', 'short_name': '2500', 'types': ['street_number']},
 {'long_name': 'South Val Vista Drive',
  'short_name': 'S Val Vista Dr',
  'types': ['route']},
 {'long_name': 'Gilbert',
  'short_name': 'Gilbert',
  'types': ['locality', 'political']},
 {'long_name': 'Maricopa County',
  'short_name': 'Maricopa County',
  'types': ['administrative_area_level_2', 'political']},
 {'long_name': 'Arizona',
  'short_name': 'AZ',
  'types': ['administrative_area_level_1', 'political']},
 {'long_name': 'United States',
  'short_name': 'US',
  'types': ['country', 'political']},
 {'long_name': '85295', 'short_name': '85295', 'types': ['postal_code']}]

In [0]:
!pip install geopandas
!pip install geopy

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/83/c5/3cf9cdc39a6f2552922f79915f36b45a95b71fd343cfc51170a5b6ddb6e8/geopandas-0.7.0-py2.py3-none-any.whl (928kB)
     |████████████████████████████████| 931kB 1.4MB/s
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.0.3)
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.0)
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/ec/20/4e63bc5c6e62df889297b382c3ccd4a7a488b00946aaaf81a118158c6f09/Fiona-1.8.13.post1-cp36-cp36m-manylinux1_x86_64.whl (14.7MB)
     |████████████████████████████████| 14.7MB 307kB/s
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/ce/37/705ee471f71130d4ceee41bbcb06f3b52175cb89273cbb5755ed5e6374e0/pyproj-2.6.0-cp36-cp36m-manylinux2010_x86_64.whl (10.4MB)
     |████████████████████████████████| 10.4MB 42.5MB/s
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.12.0)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.1)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (19.3.0)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Installing collected packages: munch, click-plugins, cligj, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.13.post1 geopandas-0.7.0 munch-2.5.0 pyproj-2.6.0
Requirement already satisfied: geopy in /usr/local/lib/python3.6/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.6/dist-packages (from geopy) (1.50)

In [0]:
import geopandas as gpd
import geopy
import time
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
longtitudes = df3['longitude'].copy()
latitudes = df3['latitude'].copy()
#ss
locationList = []
neighbourhoods = []
for i in range(len(latitudes)):
  if i > (3535+1218+1225+1269):
    if(i % 100 == 0 and i != 0):
      print(i," Sleeping...")
      # time.sleep(5)
      print("Woke up...",end='\n\n')
    coordinates = str(latitudes.iloc[i])
    coordinates += ", "
    coordinates += str(longtitudes.iloc[i])
    locator = Nominatim(user_agent="openmapquest")
    location = locator.reverse(coordinates, timeout=100000)
    # location = RateLimiter(locator.reverse(coordinates, timeout=100000), min_delay_seconds=0.1)
    locationList.append(location)
    keylist = location.raw['address'].keys()
    if('city' in keylist):
      neighbourhoods.append(location.raw['address']['city'])
    elif ('county' in keylist):
      neighbourhoods.append(location.raw['address']['county'])
    else: 
      neighbourhoods.append("NA")

7300  Sleeping...
Woke up...

7400  Sleeping...
Woke up...

7500  Sleeping...
Woke up...

7600  Sleeping...
Woke up...

7700  Sleeping...
Woke up...

7800  Sleeping...
Woke up...

7900  Sleeping...
Woke up...

8000  Sleeping...
Woke up...

8100  Sleeping...
Woke up...

8200  Sleeping...
Woke up...

8300  Sleeping...
Woke up...

8400  Sleeping...
Woke up...

8500  Sleeping...
Woke up...

8600  Sleeping...
Woke up...

8700  Sleeping...
Woke up...

8800  Sleeping...
Woke up...

8900  Sleeping...
Woke up...

9000  Sleeping...
Woke up...

9100  Sleeping...
Woke up...

9200  Sleeping...
Woke up...

9300  Sleeping...
Woke up...

9400  Sleeping...
Woke up...

9500  Sleeping...
Woke up...

9600  Sleeping...
Woke up...

9700  Sleeping...
Woke up...

9800  Sleeping...
Woke up...

9900  Sleeping...
Woke up...

10000  Sleeping...
Woke up...

In [0]:
len(neighbourhoods)

2755

In [0]:
# my_df = pd.DataFrame(neighbourhoods)
# my_df.to_csv('./arizona_restaurant_location5.csv',index=True,header=True)

In [0]:
location1 = pd.read_csv('./arizona_restaurant_location1.csv')
location2 = pd.read_csv('./arizona_restaurant_location2.csv')
location3 = pd.read_csv('./arizona_restaurant_location3.csv')
location4 = pd.read_csv('./arizona_restaurant_location4.csv')
location5 = pd.read_csv('./arizona_restaurant_location5.csv')

In [0]:
frames = [location1, location2, location3, location4, location5]
location_df = pd.concat(frames)
location_df = location_df.reset_index()
location_df = location_df.drop(['index', 'Unnamed: 0'],axis='columns')
location_df

                0
0         Phoenix
1      Scottsdale
2         Phoenix
3         Phoenix
4        Chandler
...           ...
9998      Phoenix
9999      Gilbert
10000      Peoria
10001        Mesa
10002     Phoenix

[10003 rows x 1 columns]

In [0]:
location_df.to_csv('./arizona_restaurant_alllocation.csv',index=True,header=True)

In [0]:
combined_df = pd.read_csv('./arizona_restaurant_corTime.csv')
combined_df

In [0]:
combined_location_df = pd.merge(combined_df, location_df, left_index=True, right_index=True)
combined_location_df = combined_location_df.rename(columns={"0": "processed_city"})
combined_location_df

       Unnamed: 0  ...  processed_city
0               0  ...         Phoenix
1               1  ...      Scottsdale
2               2  ...         Phoenix
3               3  ...         Phoenix
4               4  ...        Chandler
...           ...  ...             ...
9998         9998  ...         Phoenix
9999         9999  ...         Gilbert
10000       10000  ...          Peoria
10001       10001  ...            Mesa
10002       10002  ...         Phoenix

[10003 rows x 18 columns]

In [0]:
combined_location_df.to_csv('./arizona_restaurant_combinedwithlocation.csv',index=True,header=True)