## Sentimental Analysis

> By : Binay Gurung, Kashish Jagtiani, Umakant Datt Bhatt

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
%cd drive/My\ Drive/COMP4641\ Project/

/content/drive/My Drive/COMP4641 Project

In [0]:
!pip install vaderSentiment

Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.6/dist-packages (3.3.1)

In [0]:
import numpy as np
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from ast import literal_eval

In [0]:
df = pd.read_csv('data/top5_final_checkin_review_updated_new.csv')

In [0]:
review_cols = [
  'reviews2013',
  'reviews2014',
  'reviews2015'
]

count = 0
for review_year in review_cols:
  for i,bus in enumerate(df[review_year]):
    list_review = literal_eval(bus)
    df[review_year][i] = list_review

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [0]:
reviews = df['reviews2013'][0]
len(reviews)
reviews[1]

'Had to call the police to get a refund for my food we waited 15 minutes the food did not come. I asked for a refund they reefused so I had to call the police when the police got there they gave me my refund I have never had to call the police on any kind of establishment before.NEVER AGAIN WILL I GO HERE!!'

In [0]:
analyzer = SentimentIntensityAnalyzer()
def polarity(review):
  vs = analyzer.polarity_scores(review)
  return vs

In [0]:
review_cols = [
  'reviews2013',
  'reviews2014',
  'reviews2015'
]

sentiment_col = {}

for i,review_year in enumerate(review_cols):
  col = []
  for bus in df[review_year]:
    sentiment_scores = []
    list_review = bus
    for review in list_review:
      sentiment_scores.append(polarity(review))
    col.append(sentiment_scores)
  sentiment_col[review_year+'_sentiment'] = col

In [0]:
sentiment_col.keys()

dict_keys(['reviews2013_sentiment', 'reviews2014_sentiment', 'reviews2015_sentiment'])

In [0]:
len(sentiment_col['reviews2013_sentiment'])

7982

In [0]:
for key in sentiment_col.keys():
  df[key] = sentiment_col[key]

In [0]:
df = df.drop(['reviews2013','reviews2014','reviews2015','user_fans','checkin_dates','user_stars'],axis=1)

In [0]:
df.head(3)

   Unnamed: 0  ...                              reviews2015_sentiment
0           0  ...                                                 []
1           1  ...  [(0.031, 0.923, 0.045, 0.2716), (0.009, 0.823,...
2           2  ...  [(0.084, 0.687, 0.229, 0.902), (0.119, 0.786, ...

[3 rows x 12 columns]

In [0]:
%cd sentimental\ analysis

/content/drive/My Drive/COMP4641 Project/sentimental analysis

In [0]:
df.to_csv('preliminary_sentiment_score.csv',header=True)

## Binary Score Classification

In [0]:
newdf = df.copy()

In [0]:
newdf.head(3)

   Unnamed: 0  ...                              reviews2015_sentiment
0           0  ...                                                 []
1           1  ...  [(0.031, 0.923, 0.045, 0.2716), (0.009, 0.823,...
2           2  ...  [(0.084, 0.687, 0.229, 0.902), (0.119, 0.786, ...

[3 rows x 12 columns]

In [0]:
review_sentiment_cols = [
  'reviews2013_sentiment',
  'reviews2014_sentiment',
  'reviews2015_sentiment'
]
bin_sentiment_col = {}
for review_col in review_sentiment_cols:
  cols = []
  for bus in df[review_col]:
    bus_sentiments = []
    for review in bus:
      bus_sentiments.append(eval_score_to_bin(review))

    cols.append(bus_sentiments)
  
  bin_sentiment_col[review_col+'_bin_score'] = cols

In [0]:
def eval_score_to_bin(scores):
  neg,neu,pos,compound = scores
  if(compound>0.05): # positive sentiment
    return 1
  elif compound<-0.05: # negative sentiment
    return -1
  else:     # neutral sentiment
    return 0

In [0]:
for col in review_sentiment_cols:
  newdf[col+'_bin_score'] = bin_sentiment_col[col+'_bin_score']

In [0]:
newdf = newdf.drop(['reviews2015_sentiment','reviews2014_sentiment','reviews2013_sentiment'],axis=1)

In [0]:
newdf.head(3)

   Unnamed: 0  ...                    reviews2015_sentiment_bin_score
0           0  ...                                                 []
1           1  ...  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
2           2  ...  [1, -1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 0, 1, 1, 1...

[3 rows x 12 columns]

In [0]:
%cd ..

/content/drive/My Drive/COMP4641 Project

In [0]:
%ls final/

rate_of_checkin_per_6_months.csv

In [0]:
rate_check_df = pd.read_csv('final/rate_of_checkin_per_6_months.csv')

In [0]:
for col in review_sentiment_cols:
  rate_check_df[col+'_bin_score'] = bin_sentiment_col[col+'_bin_score']

In [0]:
rate_check_df = rate_check_df.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1'],axis=1)

In [0]:
rate_check_df.head(5)

              business_id  ...                    reviews2015_sentiment_bin_score
0  1Dfx3zM-rW4n-31KeC8sJg  ...                                                 []
1  q2KtxnPa6rPSpAlMbg9l8g  ...  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
2  44YFU284Z3KDEy25QyVoUw  ...  [1, -1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 0, 1, 1, 1...
3  ysfeDcLAYk_MVzfBmyiSTg  ...                                                 []
4  nsNONDHbV7Vudqh21uicqw  ...  [1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1...

[5 rows x 21 columns]

In [0]:
rate_check_df.to_csv('final/rate_sentiment_final.csv',header=True)